<div class="container">
  <nav class="nav-main">
      <!-- <img src="img/logo_antonio.png" alt="Antonio García" class="nav-brand"> -->
      <!-- <svg viewBox="0 0 34 26"  width="200"  title="Antonio García" class="nav-brand">
          <polygon points="0,26 25,0 34,0 34,26" style="fill:rgb(0, 0, 0);" />
          <polygon points="8,23 27,3 31,3 31,9 28,9 28,6 15,20 28,20 28,16 25,16 28,13 31,13 31,23" style="fill:rgba(255, 255, 255, 0.5);" />
      </svg> -->

      <div class="logo-marca">
          <svg viewBox="0 0 34 26" width="50"  title="Antonio García" class="nav-brand">
              <polygon points="0,26 25,0 34,0 34,26 0,26 8,23 31,23 31,13 28,13 25,16 28,16 28,20 15,20 28,6 28,9 31,9 31,3 27,3 8,23 " style="fill:rgba(255, 255, 255, 0.4);" />
          </svg>
          <span class="title_logo">Antonio García - Idea Developer</span>
      </div>

      <ul class="nav-menu">
          <li><a href="#">Sobre mí</a></li>
          <li><a href="#">Trabajos</a></li>
          <li><a href="#">Experiencias</a></li>
          <li><a href="#">Tecnologías</a></li>
          <li><a href="#">Contacto</a></li>
      </ul>
      <ul class="nav-menu-aside"><li><a href="#"><i class="fas fa-search"></i></a></li></ul>
  </nav>
  <hr>
  Sección: ...
  <router-outlet></router-outlet>
</div>
